{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Striker</title>
  <link rel="shortcut icon" type="image/jpg" href="https://www.bobafettfanclub.com/multimedia/galleries/albums/userpics/10001/boba-fett-helmet-starwars-com-favicon-november-2021-0-1636758039.png"/>
  <link rel="stylesheet" href="{% static 'Striker/css/styles.css' %}" />
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  {% tailwind_preload_css %}
  {% tailwind_css %}
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>
  <script defer src="https://unpkg.com/alpinejs@3.10.5/dist/cdn.min.js"></script>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="bg-black h-full p-5 text-center text-slate-300">

    {% include './navbar.html' %}
    {% block content %}
    {% endblock content %}

</body>

</html>