{% extends './base.html' %}

{% block content %}
<section class="">
  <div class="">
    <div class="">
      <h1 class="mb-2 display-1">Striker</h1>
      <h5 class="mb-4">A GuildMaster Component</h5>
      <p class="">This app is under active construction. Feel free to poke around. It may already look different by the time you leave.  🕺  </p>
      <p class="">Feedback can be sent to <a class="text-decoration-none text-blue" href="mailto:biscotty666@gmailcom">my address</a> with the subject "striker".</p>
      <div class="">
        <a href="{% url 'player.list' %}" class="p-2 border rounded text-white text-decoration-none">Enter Striker</a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}