{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head >
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Striker</title>
  <link rel="stylesheet" href="{% static 'Striker/css/styles.css' %}" />
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" type="image/jpg" href="https://www.bobafettfanclub.com/multimedia/galleries/albums/userpics/10001/boba-fett-helmet-starwars-com-favicon-november-2021-0-1636758039.png"/>
  {% tailwind_preload_css %}
  {% tailwind_css %}
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black h-full p-5 text-center text-slate-300" >
    
  <div class="bg-black">
    
    <div style="position: absolute;top: 30%;left: 50%;transform: translate(-50%, -50%);">
      
      <h1 class="mb-3 text-2xl text-emerald-500 expand" ><span>STR</span><span>K</span><span>R</span></h1>
      <h5 class="mb-4 text-emerald-500">A GuildMaster Component</h5>
      <p class="mb-1">This app is under active construction. Feel free to poke around. It may already look different by the time you leave.  🕺  </p>
      <p class="mb-1">Feedback can be sent to <a class="text-decoration-none text-blue" href="mailto:biscotty666@gmailcom">my address</a> with the subject "striker".</p>
      <div class="mt-4 mb-5">
        <a href="{% url 'player.list' %}" class="strikerbutton" role="button" style="left: 50%;position: absolute; transform: translate(-50%, -0%);"><span class="text">Enter Striker</span></a>
      </div>
    </div>
  </div>
  <img src = "https://media.tenor.com/gSfs7xmRUXcAAAAd/death-star-spin.gif" style = "display: -webkit-inline-box; z-index:-5; position: absolute;top: 30%; left: 50%;transform: translate(-50%, -50%);max-block-size: -webkit-fill-available;">
</body>

</html>
