{% extends './base.html' %}

{% block content %}
  <div class="bg-black">
    <div>
      <h1 class="mb-3 text-2xl text-emerald-500">Confirm Import Request</h1>
      <p class="mb-1">The import will take a long time, at least 15 minutes. During this time you can use the program but toon info will not be complete.</p>
      <p class="mb-1">Also note that SWGOH only updates their API a few times a day, so consider whether you need to.</p>
      <p class="mb-1">Nothing will seem to happen when you click the button but ou will get an ugly but gratifying success page when the import is done if you leave your window open. Hopefully. But whatever happens, know that it is doing the right thing!</p>
      <div class="mt-4 mb-5">
        <a href="{% url 'import.data' %}" class="p-2 border rounded text-white text-decoration-none">Import Data</a>
      </div>
    </div>
  </div>
{% endblock content %}