{% extends './base.html' %}
{% load humanize %}

{% block content %}
<section class="bg-black body-font">
  <div class="container px-5 py-2 mx-auto flex flex-wrap">
    <div class="-m-4">
      <div class="p-4 md:w-full">
        <h1 class="text-2xl mb-2 mt-2 text-emerald-500">Current Members</h1>
        <div class="flex flex-wrap p-2 sm:flex-row">
          {% for player in players %}
          <div class="box-border h-85 w-60 mb-1">
            <div class="mx-2 rounded-lg border-double border-2 border-emerald-500 px-2 py-2 bordermildblue" >
              <div class="bg-gray-800">
                <h2 class="text-blue-400 text-lg title-font font-medium mb-4 button-85"><a href="{% url 'player.detail' player.pk %}" title = "Link to Player's Toons">{{ player.name }}</a>
                </h2>
              </div>
              <div class="text-left">
                <p class="leading-relaxed text-base">GP: {{ player.gp|intword }}</p>
                <p class="leading-relaxed text-base">Toons: {{ player.gpChar|intword }}</p>
                <p class="leading-relaxed text-base">Ships: {{ player.gpShip|intword|intcomma }}</p>
                <p class="leading-relaxed text-base">Allycode: <a class="text-blue-500"
                    href="https://swgoh.gg/p/{{ player.allycode }}" Title= "Link to SWGOH.gg">{{ player.allycode }}</a> <span
                    class="text-xs">.gg</span></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}