{% extends './base.html' %}
{% load humanize %}

{% block content %}
<section class="bg-black body-font" >
  <div class="container px-5 py-2 mx-auto flex flex-wrap" style="justify-content: center;">
    <div class="-m-4">
      <div class="p-4 md:w-full">
        <h1 class="text-2xl mb-2 mt-2 text-emerald-500 ">{{ player.name }}</h1>
        <div class="m-8">
          <div id="ship-list" tabindex="-1" aria-hidden="false"
            class="p-4 w-full md:inset-0 h-modal md:h-full">
            <h1 class="text-2xl mb-2 mt-2 text-emerald-500">Ships</h1>
            <a href="{% url 'player.detail' player.pk %}" class="text-blue-500">Show Toons</a>
            <div class="flex flex-wrap p-2 sm:flex-row" style = "top: 150px; position: relative; justify-content: center;">
              {% for toon in ships %}
              <div class="box-border h-85 w-80 mb-1 flip-card">
                <div
                  class="mx-2 rounded-lg border-double border-2 border-emerald-500 px-2 py-2 flip-card-inner bordermildblue"
                  onclick="myFunction()">
                  <div class="flip-card-front" style=" width: -webkit-fill-available;text-align: center;">
                    <h2 class="text-emerald-400 text-lg title-font font-medium mb-4 button-85 "
                      style="margin-bottom: 10px;font-size: 15px;">{{ toon.nameKey }}
                    </h2>
                    <div style="margin: 15px auto 10px;width: 146px;display: block;">
                      <div id="C-{{ toon.toonName }}" class ="combatType{{ toon.combatType }}" class="px136">
                        <div  class = "px136">
                          <div id="relic{{ toon.relic }}" class = "px136">
                            <div id="combatType{{ toon.combatType }}star{{ toon.rarity }}"
                              style="height: 136px; width: 136px; position: relative;bottom: 2px;">

                              <div class="text-left ">
                                <p class="leading-relaxed text-base"
                                  style="    position: relative;left: 28px;top: 118px;">GP: {{ toon.gp|intcomma }}</p>
                                <p class="leading-relaxed text-base"
                                  style="position: relative; left: 55px;top: 65px;font-size: x-large;color: white;font-weight: bold;">
                                  {{ toon.toonLevel }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flip-card-back text-left bordermildblue">
                    <h2 class="text-emerald-400 text-lg title-font font-medium mb-4 button-85"
                      style="text-align: center;font-size: 15px;">
                      {{ toon.nameKey }}
                    </h2>
                    <div class="grid-container-element" style="
                height: 47px;font-size: 10px;text-align: right">
                      <div class="grid-child-element purple" id = {{ toon.crew }}
                        >
                        {{ toon.crew }}
                      </div>
                      <div class="grid-child-element green " 
                        >
                        
                      </div>
                    </div>
                    <div class="grid-container-element" style="
                height: 47px;font-size: 10px;text-align: right">
                      <div class="grid-child-element purple"
                        >
                        
                      </div>
                      <div class="grid-child-element green"
                        >
                        
                      </div>
                    </div>
                    <div class="grid-container-element" style="
                height: 47px;font-size: 10px;text-align: right">
                      <div class="grid-child-element purple"
                        >
                        
                      </div>
                      <div class="grid-child-element green "
                        >
                        
                      </div>
                    </div>

                  </div>
                </div>
                <script>
                  function myFunction() {
                    const card = document.querySelectorAll(".flip-card-inner");
                    card.forEach((card) => {
                      card.addEventListener("click", () => {
                        card.classList.toggle("is-flipped");
                      });
                    })
                  }
                </script>

              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}