{% extends './base.html' %}
{% block content %}

<section class="text-slate-200 body-font overflow-hidden">
  <div class="px-5 py-24 mx-auto">
    <div class="mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-2 mb-6 lg:mb-0">
        <a class="mb-2" href="{% url 'strike.list' %}">Back to strikes</a>
        <hr />
          <!-- <h2 class="text-sm title-font text-gray-500 tracking-widest">BRAND NAME</h2> -->
        <div class="flex border-t border-gray-200 py-2">
          {{ strike.player.name }}
        </div>
        <div class="flex border-t border-gray-200 py-2">
          {{ strike.strike_date }}
        </div>
        <div class="flex border-t border-gray-200 py-2">
          {{ strike.activity }}
        </div>
        <div class="flex border-t border-b mb-6 border-gray-200 py-2">
          Hard: {{ strike.ishard }}
        </div>
        <h5>Comments:</h5>
        <div class="flex border mb-6 border-gray-200 py-2">
          {{ strike.comments }}
        </div>
      </div>
    </div>
    <!-- <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://dummyimage.com/400x400"> -->
  </div>
  </div>
</section>
{% endblock content %}